<span style="color:red"> **SQL: Sintáxis General** </span>
* Lenguaje para el sistema de gestión de bases de datos
* Nos permite realizar consultas sobre la información almacenada en bases de datos

<span style="color:red"> **1) SHOW:** </span> Para listar las bases de datos y tablas que tenemos activas.

In [ ]:
SHOW DATABASES;
SHOW TABLES;

<span style="color:red"> **2) CREATE:** </span> Para crear nuevas tablas y bases de datos.

CREATE DATABASE nueva_base_de_datos;

In [ ]:
CREATE TABLE nueva_tabla(
# atributo tipo caracteristicas,
edad INT NOTNULL,
PRIMARY KEY (atributo_elegido), # ejemplo: suele ser el ID
FOREGIN KEY (atributo_de_otra_tabla) REFERENCES otra_tabla (atributo));

<span style="color:red"> **3) USE:** </span> Para posicionarnos en una base de datos sobre la cual vamos a trabajar.

In [ ]:
USE base_de_datos;

<span style="color:red"> **4) DESCRIBE:** </span> Para obtener la información de como está conformada una tabla, nos indica las columnas con su respectivo tipo de dato.

In [ ]:
DESCRIBE nombre_tabla;

<span style="color:red"> **5) INSERT:** </span> Para insertar nuevas filas, se debe especificar que tabla se usará, la columna y el valor a insertar, siempre siquiendo el mismo orden.

In [ ]:
INSER INTO nombre_tabla(edad,nombre,sexo)
VALUES (18, Monica, Femenino);

<span style="color:red"> **5) SELECT:** </span> Para obtener datos de una tabla.

In [ ]:
SELECT * FROM nombre_tabla; # selecciona todo

SELECT nombre_columna FROM nombre_tabla;

<span style="color:red"> **6) SOURCE:** </span> Para ejecutar toda las sentencias SQL presentes en el script.

In [ ]:
SOURCE script.sql; # ruta del archivo sql

<span style="color:red"> **7) WHERE:** </span> Para seleccionar datos que cumplen con una condición. Se utiliza junto a otros operadores.

In [ ]:
SELECT * FROM nombre_tabla WHERE nombre_columna=valor;

In [ ]:
AND-OR
BETWEEN
LIKE # Filtra por palabras parecidas (%)
IN

<span style="color:red"> **8) ORDER BY:** </span> Determina en que orden se obtienen los registros. Por defecto ordena de manera ascendente. Si queremos cambiarlo hay que usar la palabra DESC.

In [ ]:
SELECT * FROM nombre_tabla ORDER BY nombre_columna;

<span style="color:red"> **9) LIMIT:** </span> Especifica un límite en la cantidad de registros que devolverá la consulta.

In [ ]:
SELECT * FROM nombre_tabla ORDER BY nombre_columna LIMIT 0,25; 
# 0 = desde la primera fila 
# 25 =cantidad de filas que mostrará

<span style="color:red"> **10) OFSET:** </span> Especifica desde que fila empieza.

In [ ]:
SELECT * FROM nombre_tabla ORDER BY nombre_columna LIMIT 10 OFSET 30;

<span style="color:red"> **11) DELETE:** </span> Elimina todas las filas que cumplen con la condición. Si no indico el WHERE borro toda la tabla.

In [ ]:
DELETE FROM nombre_tabla WHERE nombre_columna=valor;

<span style="color:red"> **12) UPDATE:** </span> Modifica un dato existente en la tabla. Si no indico el WHERE modifico toda la tabla.

In [ ]:
UPDATE nombre_tabla
SET columna1=valor,
    columna2=valor,
WHERE condición;

<span style="color:red"> **13) DISTINCT:** </span> Para que me devuelva las opciones de datos que tengo.

In [ ]:
SELECT DISTINCT nombre_columna FROM nombre_tabla;

<span style="color:green"> **SQL: Operaciones simples** </span>

<span style="color:green"> **1) COUNT:** </span> Cuenta la cantidad de filas distintas que hay en la columna.

In [ ]:
SELECT COUNT (nombre_columna) FROM nombre_tabla;

<span style="color:green"> **2) SUM:** </span> Para que me devuelva las opciones de datos que tengo.

In [ ]:
SELECT SUM (nombre_columna) as alias_elegido FROM nombre_tabla;

<span style="color:green"> **3) AVG:** </span> Devuelve el valor promedio.

In [ ]:
SELECT AVG (nombre_columna) as alias_elegido FROM nombre_tabla;

<span style="color:blue"> **SQL: Alterar la estructura de una tabla** </span>

<span style="color:blue"> **1)** Modificar el nombre de una tabla </span>

In [ ]:
ALTER TABLE nombre_tabla
RENAME TO nuevo_nombre_tabla;

<span style="color:blue"> **2)** Agregar o eliminar una columna </span>

In [ ]:
ALTER TABLE nombre_tabla

ADD COLUMN nombre_columna tido_de_dato;
DROP COLUMN nombre_columna
ADD PRIMARY KEY (nombre_columna)

<span style="color:blue"> **3)** Modificar una columna </span>

In [ ]:
ALTER TABLE nombre_tabla
MODIFY COLUMN nombre_columna tipo_de_dato;

<span style="color:blue"> **4)** Eliminar una tabla o ua base de datos </span>

In [ ]:
DROP TABLE nombre_tabla;

DROP DATABASE nombre_base_de_datos;

<span style="color:orange"> **SQL: Relaciones entre tablas** </span>

<span style="color:orange"> **1)** Setear la clave foránea </span>

In [ ]:
FOREIGN KEY (nombre_columna) 
REFERENCES nombre_tabla (columna_aLaQue_referencia);

<span style="color:orange"> **2)** Agregar una FK a una tabla ya existente </span>

In [ ]:
ALTER TABLE nombre_tabla 
ADD FOREIGN KEY (nombre_clave) 
REFERENCES nombre_tabla (nombre_columna);

<span style="color:orange"> **3)** Unir tablas: JOIN </span>

In [ ]:
SELECT * FROM tabla_1 
JOIN tabla_2 
ON columna_tabla_1 = tabla_2.columna;

* Al unir las tablas con JOIN, luego le podemos agregar filtros con WHERE a las consultas.

In [ ]:
INNER JOIN # Devuelve solo las filas de la tabla A, que tengan si o si una correspondencia con la tabla B
LEFT JOIN # Une toda la tabla izquierda (A) a todas las filas de la tabla derecha (B)
RIGHT JOIN # Une toda la tabla derecha (B) a todas las filas de la tabla izquierda (A)